.about {
  overflow-x: hidden;
}

.about__container {
  padding: 421px 0 21px;
  position: relative;

  @media (min-width: $tablet) {
    padding: 44px 0 0 405px;
  }

  @media (min-width: $desktop) {
    padding: 129px 0 178px 540px;
  }

  h2,
  h3,
  p {
    margin: 0;
  }

  h2 {
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    padding: 16px 0;

    @media (min-width: $tablet) {
      font-size: 25px;
      line-height: 25px;
    }

    @media (min-width: $desktop) {
      font-size: 35px;
      line-height: 35px;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-top: 26px;

    &:nth-of-type(2) {
      margin-top: 27px;

      @media (min-width: $tablet) {
        margin-top: 29px;
      }
    }

    @media (min-width: $tablet) {
      font-size: 18px;
      line-height: 18px;

      margin-top: 32px;
    }

    @media (min-width: $desktop) {
      font-size: 21px;
      line-height: 21px;
      margin-top: 43px;
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    margin-top: 13px;

    @media (min-width: $tablet) {
      font-size: 16px;
      line-height: 24px;

      margin-top: 11px;
    }

    @media (min-width: $desktop) {
      font-size: 14px;
      line-height: 22px;

      margin-top: 16px;
      width: 585px;
    }
  }

  p:first-of-type {
    @media (min-width: $desktop) {
      width: 571px;
    }
  }

  p br {
    display: none;

    @media (min-width: $tablet) and (max-width: $desktop - 1px) {
      display: block;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 434px;
    height: 400px;
    background-image: url("../../img/photo.jpg");
    top: 20px;
    left: -15px;

    @media (min-width: $tablet) {
      background-image: url("../../img/photo-tablet.png");
      width: 542px;
      height: 350px;
      top: 174px;
      left: -45px;
      z-index: -1;
    }

    @media (min-width: $desktop) {
      width: 660px;
      height: 498px;
      background-image: url("../../img/photo-desktop.jpg");
      top: 100px;
      left: -120px;
    }
  }
}
