.advantages__container {
  padding: 37px 0 20px;
}

.advantages__title {
  margin: 0;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
}

.advantages__swiper-wrapper.swiper-wrapper {
  flex-direction: column;
  row-gap: 15px;
  margin-top: 36px;

  @media (min-width: $desktop) {
    flex-direction: row;
    row-gap: 0;
  }
}
