.advantages-slide {
  border: 1px solid $additional-20;
  padding: 81px 9px 19px;

  @media (min-width: $tablet) {
    padding: 103px 19px 29px;
    min-height: 340px;
  }

  h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin: 0;

    @media (min-width: $tablet) {
      font-size: 16px;
      line-height: 16px;
    }
  }

  p {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    margin-top: 15px;

    @media (min-width: $tablet) {
      font-size: 14px;
      line-height: 22px;
      margin-top: 14px;
    }
  }

  &--care {
    @media (min-width: $tablet) {
      margin: 0 auto;
    }
  }

  &::before {
    @include add-element;

    width: 42px;
    height: 42px;
    border: 1px solid $additional-100;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: $tablet) {
      width: 48px;
      height: 48px;
      top: 53px;
    }
  }

  &--safety::before {
    background-image: url("../../img/sprite/safety.svg");
  }

  &--expertise::before {
    background-image: url("../../img/sprite/crown.svg");
  }

  &--equipment::before {
    background-image: url("../../img/sprite/boots-blue.svg");
  }

  &--routes::before {
    background-image: url("../../img/sprite/path.svg");
  }

  &--care::before {
    background-image: url("../../img/sprite/leaf.svg");
  }
}

.advantages-slide.swiper-slide {
  @media (min-width: $tablet) {
    width: 324px;
  }
}
