.advantages__container {
  padding: 37px 0 20px;

  @media (min-width: $tablet) {
    padding: 60px 0 40px;
  }

  @media (min-width: $desktop) {
    padding: 135px 0 100px;
  }
}

.advantages__title {
  margin: 0;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
  }
}

.advantages__swiper-wrapper.swiper-wrapper {
  flex-direction: column;
  row-gap: 15px;
  margin-top: 36px;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

    margin-top: 60px;
  }

  @media (min-width: $desktop) {
    flex-wrap: nowrap;
    gap: 0;
    margin-top: 50px;
  }
}

.advantages__navigation-wrapper {
  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: flex;
    margin: 50px auto 0;
    padding-left: 1px;
  }
}
