.contacts {
  > p {
    margin: 28px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.contacts__title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
  }
}
