.contact-list {
  @include list-reset;

  padding-left: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
    padding-left: 0;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    row-gap: 34px;
  }
}

.contact-list__item {
  position: relative;

  @media (min-width: $tablet) {
    padding-left: 34px;
  }

  @media (min-width: $desktop) {
    padding-left: 56px;
  }

  &--address {
    @media (min-width: $tablet) {
      margin-left: -2px;
    }
  }

  &--address br {
    @media (min-width: $tablet) {
      display: none;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    top: 0;
    left: -32px;

    @media (min-width: $tablet) {
      width: 24px;
      height: 24px;
      top: -1px;
      left: 0;
    }

    @media (min-width: $desktop) {
      width: 26px;
      height: 26px;
      top: 12px;
    }
  }

  &--tel::before {
    background-image: url("/__spritemap#sprite-phone-view");
  }

  &--email::before {
    background-image: url("/__spritemap#sprite-mail-view");
  }

  &--address::before {
    background-image: url("/__spritemap#sprite-pin-stroke-view");
  }
}

.contact-list__title {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 18px;
  }
}

.contact-list__link {
  @include link-reset;

  display: block;
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet) {
    margin-top: 6px;
  }

  @media (min-width: $desktop) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 9px;
  }

  &:hover {
    color: $additional-20;
  }

  &:focus {
    color: $additional-100;
  }

  &:active {
    color: $active;
  }

  &[aria-disabled="true"] {
    color: $disabled;
  }
}

.contact-list__text {
  margin: 8px 0 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet) {
    margin-top: 6px;
  }

  @media (min-width: $desktop) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 9px;
  }
}
