.form {
  background-color: $primary;
  background-image: url("../../img/form-mobile.jpg");
  background-position-y: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  color: $white-100;
  width: 100vw;

  @media (min-width: $tablet) {
    background-image: url("../../img/form-tablet.jpg");
  }

  @media (min-width: $desktop) {
    background-image: url("../../img/form-desktop.jpg");
  }
}

.form__container {
  padding: 175px 0 174px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 183px 0 181.5px;
  }

  @media (min-width: $desktop) {
    padding: 297px 0 293px;
  }

  h2 {
    margin: 0;

    font-weight: 800;
    font-size: 22px;
    line-height: 22px;

    @media (min-width: $tablet) {
      font-weight: 800;
      font-size: 25px;
      line-height: 25px;

      padding-right: 5px;
    }

    @media (min-width: $desktop) {
      font-size: 35px;
      line-height: 35px;
      padding: 0;
    }
  }

  p {
    margin: 19px auto 0;
    width: 216px;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    @media (min-width: $tablet) {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      width: 300px;
      margin-top: 28px;
    }

    @media (min-width: $desktop) {
      width: fit-content;
      margin-top: 18px;
    }
  }

  p br {
    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.form__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 20px;

  @media (min-width: $tablet) {
    margin-top: 25px;
    row-gap: 11px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    margin: 38px auto 0;
    justify-content: center;
  }

  .input,
  .button {
    width: 258px;
    border: none;

    @media (min-width: $tablet) {
      width: 360px;
    }
  }

  .input {
    padding: 17px 15px;

    @media (min-width: $tablet) {
      padding: 20px 30px;
    }
  }

  .input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    opacity: 0.5;
  }

  .button {
    padding: 22px 19px 20px;
    background-color: $additional-100;
    color: $white-100;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    @media (min-width: $tablet) {
      padding: 20px 19px 19px;
    }

    @media (min-width: $desktop) {
      width: 180px;
    }
  }
}
