.gallery-slide.swiper-slide {
  display: grid;
  grid-template-areas:
    "first second"
    "first third";
  row-gap: 4px;
  column-gap: 5px;

  @media (min-width: $desktop) {
    row-gap: 0;
  }
}

.gallery-slide--3.swiper-slide {
  grid-template-areas:
    "first"
    "first";
  grid-template-columns: 320px;
  grid-template-rows: 256px;

  @media (min-width: $tablet) {
    grid-template-columns: 510px;
    grid-template-rows: 418px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 284px;
    grid-template-rows: 463px;
  }

  .gallery-slide__image {
    justify-self: center;
  }
}

.gallery-slide__image {
  &--1 {
    grid-area: first;
  }

  &--1 img {
    @media (min-width: $tablet) {
      width: 253px;
      height: 418px;
    }

    @media (min-width: $desktop) {
      width: 284px;
      height: 463px;
    }
  }

  &--2 {
    grid-area: second;
  }

  &--2 img {
    height: 134px;

    @media (min-width: $tablet) {
      width: 252px;
      height: 210px;
    }

    @media (min-width: $desktop) {
      width: 284px;
      height: 240px;
    }
  }

  &--3 {
    grid-area: third;
  }

  &--3 img {
    @media (min-width: $tablet) {
      width: 252px;
      height: 202px;
    }

    @media (min-width: $desktop) {
      width: 284px;
      height: 220px;
    }
  }

  img {
    @media (min-width: $tablet) {
      object-fit: cover;
      object-position: bottom;
    }
  }
}
