.gallery__container {
  width: 320px;
  margin: 0 auto;
  padding: 37px 0 1px;

  @media (min-width: $tablet) {
    width: 768px;
    padding-top: 60px;
  }

  @media (min-width: $desktop) {
    width: 1440px;
    padding-top: 123px;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-top: 26px;

    @media (min-width: $tablet) {
      font-size: 14px;
      line-height: 22px;

      margin-top: 30px;
      width: 420px;
    }

    @media (min-width: $desktop) {
      font-size: 16px;
      line-height: 24px;

      width: 606px;
      margin-top: 24px;
    }
  }

  p br {
    display: none;

    @media (min-width: $tablet) and (max-width: $desktop - 1px) {
      display: block;
    }
  }
}

.gallery__title {
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;

  margin: 0;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
  }
}

.gallery__swiper {
  margin-top: 31px;

  @media (min-width: $tablet) {
    margin-top: 21px;
    position: relative;
  }

  @media (min-width: $desktop) {
    margin-top: 45px;
  }
}

.gallery__navigation-wrapper {
  @media (min-width: $tablet) {
    position: absolute;
    top: -56px;
    right: 43px;
  }
}
