.gallery__container {
  width: 320px;
  margin: 0 auto;
  padding: 37px 0 3px;

  p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-top: 26px;
  }
}

.gallery__title {
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;

  margin: 0;
}

.gallery__swiper {
  margin-top: 31px;
}
