.hero {
  color: $white-100;
  background-color: $primary;
}

.hero__swiper {
  width: 100vw;
}

.hero__swiper-pagination.swiper-pagination.swiper-pagination-horizontal {
  display: flex;
  gap: 12px;
  left: 35%;
  bottom: 40px;

  @media (min-width: $tablet) {
    left: 43%;
  }

  @media (min-width: $desktop) {
    left: 84.46%;
    bottom: 92px;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    opacity: 1;
    border: 1px solid $white-100;
    background: transparent;
    transition: 0.3 all ease-in-out;
    position: relative;

    @media (min-width: $tablet) {
      width: 20px;
      height: 20px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid $white-50;
      border-radius: 50%;
      display: none;

      @media (min-width: $tablet) {
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      border-color: $white-100;
      background-color: #d9d9d9;
      transition: 0.3 all ease-in-out;
    }

    &:active {
      background-color: $white-50;
    }

    &:focus.swiper-pagination-bullet::after {
      display: block;
    }
  }

  .swiper-pagination-bullet--active {
    background: $white-100;
  }
}
