.inner-footer__container {
  padding: 21px 0 20px;
}

.inner-footer__logo {
  text-align: center;
}

.inner-footer__list.footer-list {
  margin-top: 21px;
}

.inner-footer__social.social {
  margin-top: 23px;
}

.inner-footer__text {
  text-align: center;
  margin: 23px 0 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}
