.inner-footer__container {
  padding: 21px 0 20px;

  @media (min-width: $tablet) {
    padding-top: 52px;

    display: grid;
    grid-template-areas:
      "logo   list"
      "social social"
      "text   text";
    grid-template-columns: 142px auto;
    column-gap: 42.3px;
    row-gap: 33px;
  }

  @media (min-width: $desktop) {
    grid-template-areas:
      "logo   list   tel"
      "social social social"
      "text   text   text";
    grid-template-rows: 60px auto auto;
    grid-template-columns: 314px auto max-content;
    column-gap: normal;
    row-gap: 0;
    padding-top: 54px;
    padding-bottom: 32px;
  }
}

.inner-footer__logo {
  text-align: center;

  @media (min-width: $tablet) {
    grid-area: logo;
    justify-self: start;
  }

  @media (min-width: $desktop) {
    padding-left: 29px;
    margin-top: -14px;
  }
}

.inner-footer__list.footer-list {
  margin-top: 21px;

  @media (min-width: $tablet) {
    grid-area: list;
    margin: 0;
    align-self: center;
  }

  @media (min-width: $desktop) {
    align-self: self-start;
    column-gap: 31px;
  }
}

.inner-footer__social.social {
  margin-top: 23px;

  @media (min-width: $tablet) {
    grid-area: social;
    margin: 0;
  }
}

.inner-footer__text {
  text-align: center;
  margin: 23px 0 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet) {
    grid-area: text;
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin-top: 22px;
  }
}

.inner-footer__phone-link {
  display: none;

  @media (min-width: $desktop) {
    display: block;

    @include link-reset;

    grid-area: tel;
    justify-self: right;

    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
  }
}
