.main-header {
  background: $additional-100;
  color: $white-100;
}

.main-header__container {
  display: grid;
  grid-template-areas:
    "nav logo"
    ".   phone";
  row-gap: 14px;
  justify-content: space-between;

  padding: 15px 0 13px;

  @media (min-width: $tablet) {
    padding: 19px 0 18px;
    grid-template-areas: "nav logo phone";
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  @media (min-width: $desktop) {
    padding: 41px 0 40px;
    grid-template-areas: "logo nav phone";
    grid-template-columns: 205px auto 157px;
    column-gap: 2px;
  }
}

.main-header__nav {
  grid-area: nav;

  @media (min-width: $tablet) {
    margin-top: -1px;
  }
}

.main-header__logo {
  grid-area: logo;

  @media (min-width: $tablet) {
    margin-top: 1px;
  }

  @media (min-width: $desktop) {
    margin-left: 32px;
  }
}

.main-header__phone-link {
  @include link-reset;

  grid-area: phone;
  justify-self: end;

  font-weight: 600;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
    margin-top: 3px;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 18px;
  }

  &:hover {
    color: $white-50;
  }

  &:focus {
    color: $primary;
  }

  &:active {
    color: $active;
  }

  &[aria-disabled="true"] {
    color: $disabled;
  }
}
