.main-header {
  background: $additional-100;
  color: $white-100;
}

.main-header__container {
  display: grid;
  grid-template-areas:
    "nav logo"
    ".   phone";
  row-gap: 14px;
  justify-content: space-between;

  padding: 15px 0;
}

.main-header__nav {
  grid-area: nav;
}

.main-header__logo {
  grid-area: logo;
}

.main-header__phone-link {
  @include link-reset;

  grid-area: phone;
  justify-self: end;

  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}
