.nav {
  position: relative;
}

.nav__list {
  @include list-reset;

  width: 320px;
  padding: 13px 15px 50px;
  text-transform: uppercase;

  position: absolute;
  top: 87px;
  left: -15px;
  background: $additional-100;

  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.04em;

  display: flex;
  flex-direction: column;
  row-gap: 22px;
  z-index: 2;

  &--closed {
    display: none;

    @media (min-width: $desktop) {
      display: flex;
    }
  }

  @media (min-width: $tablet) {
    width: 768px;
    top: 52px;
    left: -45px;
    padding: 32px 45px 69px;

    font-size: 16px;
    line-height: 16px;

    row-gap: 26px;
  }

  @media (min-width: $desktop) {
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
    text-transform: none;
    font-weight: 400;
    column-gap: 30.6px;
    row-gap: 15px;
    padding: 0;
    width: auto;
    letter-spacing: 0;
    margin-top: 2px;
  }
}

.nav__toggle {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  margin: 1px 0 0 1px;

  cursor: pointer;
  background-image: url("/__spritemap#sprite-cross");

  @media (min-width: $tablet) {
    margin: 0 0 0 1px;
  }

  &--closed {
    margin: 0;
    background: url("../../img/menu.svg");
    width: 26px;
    height: 26px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.nav__link {
  @include link-reset;
}
