.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: $font-family, "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $primary;
  font-weight: 300;
  overflow: hidden;
  position: relative;

  &::after {
    @media (min-width: $tablet) {
      position: absolute;
      content: "";
      width: 602px;
      height: 1630px;
      background-image: url("../../img/clouds-1.jpg");
      z-index: -1;
      top: 1024px;
      right: -177px;
    }

    @media (min-width: $desktop) {
      background-image: url("../../img/clouds-1-desktop.jpg");
      top: 800px;
      right: 0;
    }
  }
}
