.reviews {
  overflow-x: hidden;
}

.reviews__container {
  padding: 21px 0 20px;

  @media (min-width: $tablet) {
    padding: 44px 0 40px;
  }

  @media (min-width: $desktop) {
    padding: 131px 0 40px;
  }
}

.reviews__title {
  margin: 0;
  padding: 16px 0;

  font-weight: 800;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
  }
}

.reviews__swiper {
  @media (min-width: $tablet) {
    position: relative;
  }

  @media (min-width: $desktop) {
    margin-top: 3px;
  }
}

.reviews__swiper-wrapper {
  @media (min-width: $desktop) {
    padding: 10px;
    margin-top: 12px;
  }
}

.reviews__navigation-wrapper {
  @media (min-width: $tablet) {
    position: absolute;
    top: -41px;
    right: -2px;
  }

  @media (min-width: $desktop) {
    top: -63px;
  }
}
