.reviews-slide.swiper-slide {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 15px;

  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);

  @media (min-width: $tablet) {
    display: grid;
    grid-template-areas:
      "image text1"
      "image text2"
      "image title"
      "image subtitle";
    column-gap: 30px;

    margin-top: 19px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    padding-top: 18px;
  }

  p {
    margin: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    @media (min-width: $desktop) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  p:first-of-type {
    order: -2;

    margin-top: 17px;

    @media (min-width: $tablet) {
      grid-area: text1;
      margin-top: 0;
      padding-top: 3px;
    }

    @media (min-width: $desktop) {
      padding: 0;
    }
  }

  p:nth-of-type(2) {
    order: -1;

    margin-top: 10px;

    @media (min-width: $tablet) {
      grid-area: text2;
      margin-top: 0;
    }

    @media (min-width: $desktop) {
      margin-top: 2px;
    }
  }
}

.reviews-slide--2 br {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.reviews-slide__image {
  order: -3;

  @media (min-width: $tablet) {
    grid-area: image;
  }

  @media (min-width: $desktop) {
    width: 258px;
    height: 253px;
    padding-top: 2px;
  }
}

.reviews-slide__title {
  order: 0;
  margin: 0;
  margin-top: 16px;

  font-weight: 700;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet) {
    grid-area: title;
    margin-top: 0;
    font-size: 13px;
    line-height: 13px;
    align-self: self-end;
    padding-top: 4px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    align-self: self-start;
    margin-top: -5px;
  }
}

.reviews-slide__subtitle {
  order: 1;
  margin: 0;
  margin-top: 8px;

  font-weight: 300;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet) {
    grid-area: subtitle;
    margin-top: 0;
    align-self: center;
  }

  @media (min-width: $desktop) {
    align-self: self-start;
  }
}

