.social {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  @media (min-width: $desktop) {
    gap: 13px;
  }
}

.social__link {
  display: block;
  position: relative;
  width: 32px;
  height: 30px;
  border: 1px solid rgba(45, 56, 63, 0.3);

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  use {
    fill: $primary;
  }

  &:hover {
    border-color: $primary;
  }

  &:focus {
    border-color: $white-100;
  }

  &:active {
    border-color: $additional-100;
    background-color: $additional-100;
  }

  &:active use {
    fill: $white-100;
  }
}
