.tours {
  overflow-x: hidden;
  position: relative;

  &::after {
    @media (min-width: $tablet) {
      position: absolute;
      content: "";
      width: 602px;
      height: 1630px;
      background-image: url("../../img/clouds-1.jpg");
      z-index: -1;
      bottom: -900px;
      right: -177px;
    }
  }
}

.tours__container {
  padding: 39px 0 20px;
  overflow-x: hidden;

  @media (min-width: $tablet) {
    position: relative;
    padding: 60px 0 40px;
  }
}

.tours__title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
  }
}

.tours__swiper {
  margin-top: 39px;

  @media (min-width: $tablet) {
    margin-top: 35px;
  }
}

.tours__navigation-wrapper {
  display: none;
  width: 80px;

  @media (min-width: $tablet) {
    display: flex;
    position: absolute;
    top: 60px;
    right: -2px;
    gap: 4px;
  }
}

.tours__link {
  @include link-reset;

  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.04em;

  padding: 10px 28px 10px 10px;
  margin-top: 25px;
  position: relative;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
    margin-top: 26px;
  }

  &::after {
    @include add-element;

    width: 9px;
    height: 14px;
    mask-image: url("/__spritemap#sprite-right-view");
    background-color: $primary;
    top: 10px;
    right: 47px;

    @media (min-width: $tablet) {
      right: 228px;
    }
  }
}

.tours__swiper-button {
  width: 37px;
  height: 35px;
  background-color: $additional-100;
  position: relative;
  cursor: pointer;

  &::after {
    @include add-element;

    mask-image: url("/__spritemap#sprite-left-view");
    background-color: $white-100;
    width: 14px;
    height: 9px;
    top: 39%;
    left: 31%;
  }

  &--next::after {
    transform: rotate(180deg);
    top: 39%;
    left: 32%;
  }
}

.tours__swiper-button.swiper-button-disabled {
  background-color: $disabled;
}
