.tours {
  overflow-x: hidden;
  position: relative;
}

.tours__container {
  padding: 39px 0 20px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    position: relative;
    padding: 60px 0 40px;
  }

  @media (min-width: $desktop) {
    padding: 123px 0 100px;
  }
}

.tours__title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
  }
}

.tours__swiper {
  margin-top: 39px;

  @media (min-width: $tablet) {
    margin-top: 35px;
  }

  @media (min-width: $desktop) {
    margin-top: 50px;
  }
}

.tours__link {
  @include link-reset;

  display: inline;
  align-self: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.04em;

  padding: 10px 28px 10px 10px;
  margin-top: 25px;
  position: relative;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
    margin-top: 26px;
  }

  @media (min-width: $desktop) {
    margin-top: 54px;
  }

  &::after {
    @include add-element;

    width: 9px;
    height: 14px;
    mask-image: url("/__spritemap#sprite-right-view");
    background-color: $primary;
    top: 10px;
    right: 8px;

    /*     @media (min-width: $tablet) {
      right: 228px;
    } */
  }

  &:hover {
    color: $additional-20;
  }

  &:hover.tours__link::after {
    background-color: $additional-20;
  }

  &:focus {
    color: $additional-100;
  }

  &:focus.tours__link::after {
    background-color: $additional-100;
  }

  &:active {
    color: $active;
  }

  &:active.tours__link::after {
    background-color: $active;
  }

  &[aria-disabled="true"] {
    color: $disabled;
  }

  &[aria-disabled="true"].tours__link::after {
    background-color: $disabled;
  }
}

.tours__navigation-wrapper {
  @media (min-width: $tablet) {
    position: absolute;
    top: 60px;
    right: -2px;
  }
}
