.training__container {
  padding-top: 37px;
  position: relative;

  p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 33px;
  }
}

.training__title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
}

.training__subtitle {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  margin-top: 29px;
}

.training__swiper {
  overflow-x: hidden;
  position: relative;
  margin-top: 22px;
}

.training__process {
  margin-top: 26px;
}
