.training__container {
  padding-top: 37px;
  margin-bottom: 21px;
  position: relative;

  @media (min-width: $tablet) {
    padding-top: 59px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop) {
    padding-top: 62px;
  }

  > p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 33px;

    @media (min-width: $tablet) {
      font-size: 16px;
      line-height: 24px;
      margin-top: 34px;
    }

    @media (min-width: $desktop) {
      margin-top: 32px;
      width: 820px;
    }
  }

  p br {
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }

    @media (min-width: $desktop) {
      display: none;
    }
  }
}

.training__title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
  }
}

.training__subtitle {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  margin-top: 29px;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
    margin-top: 30px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
    margin-top: 62px;
  }
}

.training__swiper {
  overflow-x: hidden;
  position: relative;
  margin-top: 22px;

  @media (min-width: $tablet) {
    margin-top: 37px;
  }

  @media (min-width: $desktop) {
    margin-top: 16px;
  }
}

.training__navigation-wrapper {
  @media (min-width: $tablet) {
    position: absolute;
    top: 217px;
    right: -2px;
  }

  @media (min-width: $desktop) {
    top: 235px;
  }
}
