.training-process__title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 18px;
  }
}

.training-process__list {
  @include list-reset;

  padding-left: 29px;
  margin-top: 23px;

  display: grid;
  row-gap: 25px;

  position: relative;

  @media (min-width: $tablet) {
    padding: 0;
    margin-top: 100px;
    grid-template-areas:
      "learning  clarification"
      "preparing lectures";
    grid-template-columns: 1fr 1fr;
    column-gap: 134px;
    row-gap: 104px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 183px;
    background-color: $additional-100;
    top: 12px;
    left: 6px;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.training-process__item {
  width: 235px;
  padding-left: 34px;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  position: relative;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 22px;
    padding-left: 35px;
  }

  &--learning {
    @media (min-width: $tablet) {
      grid-area: learning;
    }
  }

  &--clarification {
    @media (min-width: $tablet) {
      grid-area: clarification;
    }
  }

  &--preparing {
    @media (min-width: $tablet) {
      grid-area: preparing;
      padding-left: 34px;
    }
  }

  &--lectures {
    @media (min-width: $tablet) {
      grid-area: lectures;
      padding-left: 33px;
    }
  }

  &::before {
    @include add-element;

    width: 25px;
    height: 25px;
    top: 1px;
    left: 0;
    background-color: $primary;

    @media (min-width: $tablet) {
      top: 2px;
    }
  }

  &--learning::before {
    mask-image: url("/__spritemap#sprite-learning-view");
  }

  &--preparing::before {
    background-image: url("/__spritemap#sprite-boots-view");
  }

  &--lectures::before {
    background-image: url("/__spritemap#sprite-pine-tree-view");

    @media (min-width: $tablet) {
      left: -1px;
    }
  }

  &--clarification::before {
    background-image: url("/__spritemap#sprite-mountain-view");
  }

  &::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-color: $additional-100;
    border-radius: 50%;
    left: -29px;
    top: 12px;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}
