// Размер экрана

$tablet: 768px;
$desktop: 1440px;

// Шрифт

$font-family: "Montserrat", sans-serif;

// Цвета

// Текст

$primary: #2d383f;
$white-100: #ffffff;
$white-50: rgba(255, 255, 255, 0.5);

// Кнопки

$additional-100: #0266c1;
$additional-20: rgba(2, 102, 193, 0.1);
$disabled: #999999;
